body {
    background-color: #101010;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.3dvw;
    color: #FFFFFF;
    margin: 0;
}

img:not(.logo):not(.border) {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FF8181;
    transition-duration: 200ms;
}

span { 
    color: #FF8181;
    text-decoration: underline;
}

.logo {
    max-height: 3em;
    min-height: 50px;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #202020;
    display: grid;
    grid-template-columns: 0 1fr;
    z-index: 1;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    font-size: 1rem;
}

footer {
    background-color: #202020;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr 2fr;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    font-size: 1rem;
}

.footer-logo {
    margin-right: 30%;
    margin-top: -10%;
}

.footer-logo>p {
    margin-top: -10%;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 20%;
}

@media (max-width: 900px) {
    body {
        font-size: 1.8dvw;
    }

    .nav-buttons {
        font-size: 16px;
        column-gap: 10%;
    }

    footer {
        font-size: 0.85rem;
    }
}

/* DO NOT TOUCH ANYTHING ABOVE THIS POINT */

.section-title {
    margin: 8% 15% 8% 15%;
    font-size: 2.5em;
    text-shadow: 0.03em 0 #FFFFFF;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.breaker {
    background-color: #FF8181;
    height: 0.15em;
    margin: 3.5% 0 3.5% 0;
}


.timeline {
    margin: 0 15% 0 15%;
}

.timeunit {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.timepic {
    width: 17%;
    margin: auto;
}

.yearpic {
    transform: scale(1.2);
}

.year {
    font-size: 2em;
    margin-bottom: -1%;
    font-weight: bolder;
}

.container {
    margin: 10% 15% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container-left {
    border-radius: 2em 0 0 2em;
    padding: 5% 10% 5% 10%;
    font-size: 2em;
    text-align: center;
}

.container-right {
    background-color: #202020;
    border-radius: 0 2em 2em 0;
    padding: 5% 10% 5% 10%;
}

.story-left {
    background-color: #222B48;
}

.story-left>p {
    margin-bottom: -3%;
}

.goals-left {
    background-color: #FF8181;
}

.mission, .vision {
    margin-top: 0;
    margin-bottom: 2%;
}

section {
    margin: 5% 15% 5% 15%;
    display: grid;
    grid-template-columns: 4fr 7fr;
    column-gap: 5%;
    row-gap: 5%;
}

.links {
    text-decoration: underline;
    font-size: 1.2em;
}

.b-line {
    margin-top: 7%;
}

@media (max-width: 900px) {
    .timepic {
        width: 30%;
    }
}